.container {
  max-width: 1000px;
}

.menu {
  background-color: #fef5c6;
  padding: 30px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}



.menu li a {
  text-decoration: none;
  color: #736558;
  font-weight: bold;
}



.main-heading {
  font-size: 26px;

}


.custom-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #aaf2e4;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.custom-button:hover {
  background-color: #31d5de;
}

.logo {
  width: 50px;
  height: auto;
}